<h1>
  <%= @article.title %><%= link_to edit_article_path do %>
    <i class="fa-regular fa-pen-to-square"></i>
    <% end %>
  <%= link_to article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete '#{@article.title}'?"} do %>
    <i class="fa-solid fa-trash"></i>
  <% end %>
</h1>
<p><%= @article.content %></p>

<p><%= link_to 'Back to articles', articles_path %></p>
